<div class="vertical-menu">
    <a class="active">H</a>
    <a href="/UserProfile/AddPhoto" title="Profile">AddPhoto</a>
    <a href="/Manage/ChangePassword" title="Profile">ChangePassword</a>
</div>



