@model WebApplication3.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="dash-head"></div>
<div class="panel-wrap">
    <div id="sidebar">
        <div id="profile" class="widget">
            <h3>Moodle <span class="collapse k-icon k-i-arrowhead-n"></span></h3>
            <div>
                <div class="profile-photo"></div>
                <img id="profile-photo" src="@Url.Action("DisplayPhoto", "UserProfile" )" height="48" width="48" />
                <h4>@User.Identity.Name</h4>
                <p>Sales Associate</p>
            </div>
        </div>
        <div id="profile" class="widget">
            <h3>@Html.ActionLink("MyCourse", "Profile", "UserProfile", routeValues: null, htmlAttributes: new { title = "Profile" }) <span class="collapse k-icon k-i-arrowhead-n"></span></h3>

        </div>
        <div id="profile" class="widget">
            <h3>@Html.ActionLink("Settings", "Profile", "UserProfile", routeValues: null, htmlAttributes: new { title = "Profile" }) <span class="collapse k-icon k-i-arrowhead-n"></span></h3>
        </div>
    </div>
    <div id="main-content">
        <div id="blogs" class="widget">
            <h3>Blogs <span class="collapse k-icon k-i-arrowhead-n"></span></h3>
            <div>
                @{Html.RenderAction("UserInformation",Model);}
            </div>
        </div>
    </div>
</div>
    <div class="responsive-message"></div>

