<div class="dash-head"></div>
<div class="panel-wrap">
   
    
           
                <div id="course" class="widget">
                    <h3>Disciplina Matematica <span class="collapse k-icon k-i-arrowhead-n"></span></h3>
                    
                </div>
          
       
</div>
<div class="panel-wrap">
    @for (int i = 1; i < 20; i++)
    {<p>
           
                <div id="course" class="widget">
                    <h3>Capitol @i NameCapitol <span class="collapse k-icon k-i-arrowhead-n"></span></h3>
                    <div>
                        Tema: Numere Naturale
                        <div>
                            Upload:Exercises
                        </div>
                        Tema: Numere Naturale
                        <div>
                            Upload:Exercises
                        </div>
                        Tema: Numere Naturale
                        <div>
                            Upload:Exercises
                        </div>
                        Tema: Numere Naturale
                        <div>
                            Upload:Exercises
                        </div>

                    </div>
                </div>
           
        </p>}
</div>
<div class="responsive-message"></div>
