html,body {
    height:100%;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: aliceblue;
    background-image: url(im10.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
  
  
}

.body-content {
    padding-left:40px;
    padding-right:40px;
}
.navbar {
    background-color:darkgreen;
    text-decoration-color:aquamarine;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}
.container {
   width:100%;
   height:100%;
}
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
        border-color: #00ffff;
    }
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 100%; /*slider height*/
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.carousel .item img {
        width: 100%; /*img width*/
        height: 100%;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
@media (max-Height: 200px) {
    .block, .body-content {
        position: absolute;
        display: block;
        bottom: 2em;
        left: 1em;
        margin-right: 1em;
        padding: 1em;
        background: #8dc63f;
        color: #8dc63f;
        z-index: 50;
        font-family: 'Exo 2', Arial, Helvetica, sans-serif;
        line-height: 1em;
        font-weight: normal;
        text-shadow: none;
        box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.7);
        -moz-box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.7);
        -webkit-box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.7);
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        overflow-x: hidden;
    }
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.nav.navbar-nav li a {
    color: #fff;
}

    .nav.navbar-nav li a:hover {
        color: aqua;
    }

form{
    position:center;
    width: 260px;
    margin: 0 auto;
    background: rgba(130,130,130,.3);
    padding: 20px 22px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
}

    form input,input button {
        width: 212px;
        border: 1px solid;
        border-bottom-color: rgba(255,255,255,.5);
        border-right-color: rgba(60,60,60,.35);
        border-top-color: rgba(60,60,60,.35);
        border-left-color: rgba(80,80,80,.45);
        background-color: rgba(0,0,0,.2);
        background-repeat: no-repeat;
        padding: 8px 24px 8px 10px;
        font: bold .875em/1.25em "Open Sans Condensed", sans-serif;
        letter-spacing: .075em;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0,0,0,.1);
        margin-bottom: 19px;
    }

 input:focus {
            background-color:rgba(0,0,0,.4);
        }

.form input.email {
    background-image: url(im1.jpg);
  
}

        form input.pass {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NTVFMDg1QzU3QzIzMTFFMjgwQThGODZFM0EwQUZFQ0YiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NTVFMDg1QzY3QzIzMTFFMjgwQThGODZFM0EwQUZFQ0YiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1NUUwODVDMzdDMjMxMUUyODBBOEY4NkUzQTBBRkVDRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1NUUwODVDNDdDMjMxMUUyODBBOEY4NkUzQTBBRkVDRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv2NSIIAAADYSURBVHjanJAxCsJAEEXXaBMQtvIMqTxDKjtPELC1svMoOYM2WlqIhVcQFMVgG7ATAoIggfGPjrLIrBo/vCzZ+Z+dGUNExiECI7Clhw5gAtqur8YfUQxm4AzGIAMRSIAFXbC8OyUdghwsgH173cp9Lr5XqAeOSsANcj3h/8BpbQ4Ko6uQOvtMQy6noG4+iz3XZ4iHbIEQ9L8EeUlN3t5etvSrMg6RqajAc78BQ7BTq6QrllV3tKLvpZOclyrt/TWTlTP0zVQqba/BAKyUWsmh1BPUxL70JsAABHkyyK1uocIAAAAASUVORK5CYII=);
            background-position: 223px 8px
        }

::-webkit-input-placeholder {
    color: white;
}


:-moz-placeholder {
    color: white;
}

::-moz-placeholder {
    color: white;
}

:-ms-input-placeholder {
    color: white;
} 
form button[type=submit] {
    width: 212px;
    margin-Top: 0;
    color: #3f898a;
    letter-spacing: .05em;
    text-shadow: 0 1px 0 #133d3e;
    text-transform: uppercase;
    background: #225556;
    border-top-color: #9fb5b5;
    border-left-color: #608586;
    border-bottom-color: #1b4849;
    border-right-color: #1e4d4e;
    cursor: pointer;
}
.btn{
    position:relative;
    
}
.checkbox{
    position:relative;
}

#example {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dash-head {
    position:center;
    margin:auto;
    width: 970px;
    height: 80px;
    background: url(moodle.png) no-repeat 50% 50% coral;
}

.panel-wrap {
    position:center;
    margin:auto;
    width: 968px;
    background-color: aliceblue;
    border: 1px solid #e5e5e5;
}

#sidebar {
    display: table-cell;
    margin: 0;
    padding: 20px 0 20px 20px;
    width: 220px;
    vertical-align: top;
}

#main-content {
    display: table-cell;
    margin: 0;
    padding: 20px;
    width: 680px;
    vertical-align: top;
}

.widget.placeholder {
    opacity: 0.4;
    border: 1px dashed #a6a6a6;
}

.widget {
    margin:auto;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
 
}

    .widget:hover {
        background-color: #fcfcfc;
        border-color: #cccccc;
    }

    .widget div {
        padding: 10px;
        min-height: 50px;
    }

    .widget h3 {
        position:center;
        text-emphasis-position:right;
        color:coral;
        margin:auto;
        font-size: 16px;
        padding: 8px 10px;
        text-align:center;
        border-bottom: 3px solid #e7e7e7;
    }

        .widget h3 span {
            float: left;
        }

            .widget h3 span:hover {
                cursor: pointer;
                background-color: #e7e7e7;
                border-radius: 20px;
            }

/* PROFILE */
#profile-photo {
    width: 180px;
    height: 180px;
    margin:auto;
    border-radius: 100px;
    border: 1px solid #e7e7e7;
    background:no-repeat;
    background-size:180px 180px;
}

#profile div {
    text-align: center;
}

#profile h4 {
    width: auto;
    margin: 0 0 5px;
    font-size: 1.2em;
    color: #1f97f7;
}

#profile p {
    margin: 0 0 10px;
}

/* BLOGS & NEWS */
#blogs {
    margin:auto;
    position:center;
}


#blogs h4
 {
    width: auto;
    margin-left:400px;
    font-size: 1.4em;
    color: #1f97f7;
    font-weight: normal;
}

.blog-info {
    margin: 0 0 10px;
    font-size: .9em;
    color: #787878;
}

#sidebar #blogs h4 {
    font-size: 1em;
}

#sidebar #blogs p {
    display: none;
}

#sidebar #blogs .blog-info {
    display: block;
}

#main-content #news h4 {
    font-size: 1.2em;
    line-height: 1.4em;
    height: 40px;
}

    #main-content #news h4 span {
        display: block;
        float: left;
        width: 100px;
        height: 40px;
        color: #000;
    }

#sidebar #news h4 {
    font-size: 1em;
}

    #sidebar #news h4 span {
        display: block;
        margin-bottom: 3px;
        color: #000;
    }

/* TEAMMATES */
.team-mate:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

#teammates .team-mate h4 {
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 12px;
}

.team-mate p {
    margin: 0;
}

.team-mate img {
    float: left;
    margin: 0 15px 0 0;
    border: 1px solid #e7e7e7;
    border-radius: 60px;
}

.hint {
    width: 250px;
    height: 100px;
    overflow: hidden;
}

    .hint > h3 {
        padding-left: 20px;
    }
.vertical-menu {
    width: 200px;
}

    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration:dashed;
    }

        .vertical-menu a:hover {
            background-color: #ccc;
        }

        .vertical-menu a.active {
            background-color: #4CAF50;
            color: white;
        }
#footer {
    color: aliceblue;
    position: relative;
    text-align: center;
    background-position: center;
    bottom: 0;
    height: 80px;
    margin-top: 80px;
}
.table{
    position:relative;
   
    width:500px;
    background-color:aliceblue;
   
}
.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}
.modal-body {
    background-image: url(im13.jpg);
    background-size: 600px 400px;
}
.form-control{
    color:yellowgreen;
}
input::-webkit-input-placeholder {
    color: aliceblue !important;
}
input:-moz-placeholder { /* Firefox 18- */
    color: red !important;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: red !important;
}

input:-ms-input-placeholder {
    color: red !important;
}
#course{
    margin-left:20px;
    margin-right:20px;
position:center;

}

